.header {
  color: #000080;
  font-weight: bold;
  margin: 20px 10px 0 20px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 20px;
}

.menu {
  display: flex;
  font-size: 13px;
}
.menu1 {
  padding: 0 15px;
}
.menu2 {
  padding: 0 15px;
}
.menu3 {
  padding: 0 15px;
}
.menu4 {
  padding: 0 15px;
}

.img {
  position: relative;
  top: 180px;
  left: 610px;
  transform: translate(0,-90px);
  z-index: 1;
}

.text {
  font-size: 60px;
  font-weight: lighter;
  position: relative;
  top: 20px;
  transform: translate(0,-75px);
}

.square {
  width: 910px;
  height: 170px;
  background: #000080;
  display: block;
  margin: 20px 0;
  transform: translate(0,-75px);
  z-index: 0;
}