.header {
  color: #000080;
  font-weight: bold;
  margin: 20px 10px 0 20px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 20px;
}

.menu {
  display: flex;
  font-size: 13px;
}
.menu1 {
  padding: 0 15px;
}
.menu2 {
  padding: 0 15px;
}
.menu3 {
  padding: 0 15px;
}
.menu4 {
  padding: 0 15px;
}

.parent {
  position: relative;
}
.img {
  position: absolute;
  top: 180px;
  left: 720px;
  transform: translate(0,-90px);
  z-index: 1;
}
.text {
  font-size: 60px;
  font-weight: lighter;
  position: absolute;
  top: 370px;
  /* transform: translate(0,-75px); */
}
.square {
  width: 910px;
  height: 170px;
  background: #000080;
  display: block;
  margin: 15px 0;
  position: absolute;
  top: 415px;
  /* transform: translate(0,-75px); */
  z-index: 0;
}